
.inico_input_contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.modulo_input{
    display: flex;

}

.modulo_input label{
    margin-right: 10px;
    
}

.modulo_input input{
    padding: 0px 20px;
    
    
}

.modulo_input input{
    text-align: start;
    
}

.modulo_tabla{
    padding: 30px 0px;
}




